@keyframes moveInLeft {
  0% {
    opacity: 0;
    /*translate in x direction from left to right, positive value goes right, negative value goes left*/
    transform: translateX(-100px);
  }
  /*at 80% make it translate to the right 20px*/
  80% {
    transform: translateX(20px);
    /*transform: rotate(180deg); => this will rotate the text 180 degrees*/
  }
  100% {
    opacity: 1;
    /*translate at 0 will make it look the way it looks now. */
    transform: translate(0);
  }
}

/*makes an animation called "moveInRight"
	starts at 0%

	100% is what happens to the animation when finished.
*/
@keyframes moveInRight {
  0% {
    opacity: 0;
    /*translate in x direction from left to right, positive value goes right, negative value goes left*/
    transform: translateX(100px);
  }
  /*at 80% make it translate to the right 20px*/
  80% {
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    /*translate at 0 will make it look the way it looks now. */
    transform: translate(0);
  }
}

.heading-primary {
  animation-name: moveInLeft;
  animation-duration: 5s;
  margin: 0;
}

.nav-link {
  padding-top: 0;
  padding-bottom: 15px;
}

.navbar-brand {
  margin-left: -3%;
}

@media screen and (max-width: 991px) {
  .navbar-brand {
    margin-left: -10%;
    padding-left: 0 !important;
  }
}

@media screen and (max-width: 870px) {
  .navbar-brand {
    margin-left: -5%;
  }
}

@media screen and (max-width: 800px) {
  .navbar-brand {
    margin-left: 0;
  }
}

@media screen and (max-width: 767px) {
  .navbar-brand {
    margin-left: -10%;
  }
}

@media screen and (max-width: 660px) {
  .navbar-brand {
    margin-left: -5%;
  }
}

@media screen and (max-width: 600px) {
  .navbar-brand {
    margin-left: 0;
  }
}

.navbar-toggler {
  margin-right: -5%;
}

@media screen and (max-width: 800px) {
  .navbar-toggler {
    margin-right: initial;
  }
}

@media screen and (max-width: 767px) {
  .navbar-toggler {
    margin-right: -5%;
  }
}

@media screen and (max-width: 600px) {
  .navbar-toggler {
    margin-right: 0;
  }
}

@media screen and (max-width: 991px) {
  .nav-item {
    margin-left: -10%;
    text-align: center;
  }
}

.navbar-collapse {
  margin-right: -3%;
}

.custom-navlink {
  background-color: black;
  color: #fec639 !important;
  border-radius: 10%;
  padding: 10px;
  margin-top: -10px;
}

@media screen and (max-width: 991px) {
  .custom-navlink {
    border-radius: 0;
    text-align: center;
  }
}

#portfolio {
  padding-bottom: 50px;
}

#portfolio #portfolio-firstrow {
  padding-top: 40px;
  padding-bottom: 15px;
}

@media screen and (max-width: 767px) {
  #portfolio .portfolio-img {
    width: 100%;
  }
}

#contact {
  background-color: #333333;
  color: #fec639;
  padding-top: 150px;
  padding-bottom: 100px;
}

#contact form {
  width: 400px;
}

@media screen and (max-width: 415px) {
  #contact form {
    width: auto;
  }
}

@media screen and (max-width: 991px) {
  .modal-body img {
    width: 60% !important;
  }
}

@media screen and (max-width: 540px) {
  .modal-body img {
    width: 85% !important;
  }
}

@media screen and (max-width: 478px) {
  .modal-body a {
    min-width: 256px;
  }
}

/* editing my main header pic */
.main-img {
  height: 300px;
  border-radius: 50%;
}

/* *****************************
    Navbar
********************************* */
#mainNav {
  /* 3a3050 */
  background-color: #fec639;
  padding-top: 1 rem;
  padding-bottom: 1 rem;
  font-weight: 700;
}

.fa-dribbble {
  color: black;
}

.navtext {
  color: black;
}

#mainNav .navbar-nav {
  margin-top: 1rem;
  letter-spacing: 0.0625rem;
}

#mainNav .navbar-nav li.nav-item a.nav-link.active {
  color: black;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
}

/* *****************************
    Jumbotron
********************************* */
.jumbotron {
  color: white;
  height: 60vmax;
  background-image: url(../img/skyline-night.jpg);
  background-position: center center;
  background-size: cover;
}

.btn-xl {
  padding: 1rem 2rem;
}

.btn {
  font-weight: 700;
  border: none;
  border-radius: 300px;
  vertical-align: middle;
}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: goldenrod;
}

/* .hr-break {
    border: none;
    color: white;
} */
/* *****************************
    About Me
********************************* */
#aboutme {
  margin-top: 10rem;
  font-family: 'Raleway', sans-serif;
}

.card {
  margin-top: 5rem;
}

.card-header {
  font-family: 'Raleway', sans-serif;
}

.card-body {
  font-family: 'Raleway', sans-serif;
  word-spacing: 5px;
}

#sklzcard {
  box-shadow: 5px 10px 8px #888888;
}

/* *****************************
    Portfolio
********************************* */
.portfolio {
  margin-top: 200px;
  margin-bottom: -15px;
}

.portfolio .portfolio-item {
  position: relative;
  display: block;
  max-width: 25rem;
  margin-bottom: 30px;
}

.portfolio .portfolio-item .portfolio-item-caption {
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  transition: all ease 0.5s;
  opacity: 0;
  background-color: goldenrod;
}

.portfolio .portfolio-item .portfolio-item-caption:hover {
  /* when you hover over it the background will change because of opacity */
  opacity: 1;
}

.portfolio .portfolio-item .portfolio-item-caption .portfolio-item-caption-content {
  font-size: 1.5rem;
}

.portfolio-img {
  height: 252px;
}

/* *****************************
    Contact
********************************* */
#contact {
  margin-top: 200px;
  margin-bottom: -15px;
  font-family: 'Raleway', sans-serif;
}

/* *****************************
    modals
********************************* */
.modal-header {
  margin: auto;
}

.modal-body img {
  display: block;
  height: 300px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.modal-body a {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.modal-text {
  font-size: 20px;
  padding: 15px;
  padding-top: 30px;
}

.tech-used {
  font-style: bold;
}

.modal-img {
  height: 300px;
}
