#aboutmebody {
    background-color: #333333;
    
}

#aboutme {
    color: white;
    font-family: 'Raleway', sans-serif;
    width: 100%;
}

#skills {
    margin-bottom: 100px;
}

.card-body {
    height: 200px; 

    ul {
        padding: 0;

        li {
            list-style-type: none;
            text-align: center;
        }
    }
}