.heading-primary {
    animation-name: moveInLeft;
    animation-duration: 5s;
    margin: 0;
}

// Nav
.nav-link {
    padding-top: 0;
    padding-bottom: 15px;
}

.navbar-brand {
    margin-left: -3%;
}

.navbar-collapse {
    margin-right: -3%;
}

