.heading-primary {
    animation-name: moveInLeft;
    animation-duration: 5s;
    margin: 0;
}

// Nav
.nav-link {
    padding-top: 0;
    padding-bottom: 15px;
}

.navbar-brand {
    margin-left: -3%;
}

.navbar-collapse {
    margin-right: -3%;
}

.custom-navlink {
    background-color: black;
    color: rgb(254, 198, 57) !important;
    border-radius: 10%;
    padding: 10px;
    margin-top: -10px;
}

// portfolio section
#portfolio {
    padding-bottom: 50px;

    #portfolio-firstrow {
        padding-top: 40px;
        padding-bottom: 15px;
    }

    .portfolio-img {
        @media screen and (max-width: 767px) {
            width:  100%;
        }
    }
}

// contact me section
#contact {
    background-color: #333333;
    color: #fec639;
    padding-top: 150px;
    padding-bottom: 100px;

    form {
        width: 400px;
    
        @media screen and (max-width: 415px) {
            width: auto;
        }
    }
}

// modal section

.modal-body {

    // modal img
    img {
        @media screen and (max-width: 991px) {
            width: 60% !important;
        }

        @media screen and (max-width: 540px) {
            width: 85% !important;
        }
    }

    // modal button
    a {
        @media screen and (max-width: 478px) {
            min-width: 256px;
        }
    }
    
    
}

