/* editing my main header pic */
.main-img {
    height: 300px;
    border-radius: 50%;
}

/* *****************************
    Navbar
********************************* */
#mainNav {
    /* 3a3050 */
    background-color: rgb(254, 198, 57);
    padding-top: 1 rem;
    padding-bottom: 1 rem;
    font-weight: 700;

}
.fa-dribbble {
    color: rgb(254, 198, 57);
}
.navtext {
    color: rgb(254, 198, 57);

    &:hover {
        color: black;
    }
}
#mainNav .navbar-nav {
    margin-top: 1rem;
    letter-spacing: 0.0625rem;
}
#mainNav .navbar-nav li.nav-item a.nav-link.active {
    color: black;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}


/* *****************************
    Jumbotron
********************************* */


.jumbotron {
    color: white;
    height: 40vmax;
    
    // this fades out the background image
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../img/skyline-night.jpg');
    background-position: center center;
    background-size: cover;
}
.btn-xl {
    padding: 1rem 2rem;
}
.btn {
    font-weight: 700;
    border: none;
    border-radius: 300px;
    vertical-align: middle;
}
hr {
    max-width: 50px;
    border-width: 3px;
    border-color: goldenrod;
}

/* .hr-break {
    border: none;
    color: white;
} */



/* *****************************
    About Me
********************************* */
#aboutme {
    margin-top: 10rem;
    font-family: 'Raleway', sans-serif;
}
.card {
    margin-top: 5rem;
}
.card-header {
    font-family: 'Raleway', sans-serif;
}
.card-body {
    font-family: 'Raleway', sans-serif;
    word-spacing: 5px;
}
#sklzcard {
    box-shadow: 5px 10px 8px #888888;
}

/* *****************************
    Portfolio
********************************* */
.portfolio {
    margin-top: 100px;
    margin-bottom: -15px;
}

.portfolio .portfolio-item {
    position: relative;
    display: block;
    max-width: 25rem; 
}

.portfolio .portfolio-item .portfolio-item-caption {
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    transition: all ease 0.5s;
    opacity: 0;
    background-color: goldenrod; 
}
.portfolio .portfolio-item .portfolio-item-caption:hover {
    /* when you hover over it the background will change because of opacity */
    opacity: 1; 
}

.portfolio .portfolio-item .portfolio-item-caption .portfolio-item-caption-content {
    font-size: 1.5rem; 
}

.portfolio-img {
    height: 252px;
}

/* *****************************
    modals
********************************* */
.modal-header {
    margin: auto;
}
.modal-body img {
    display: block;
    height: 300px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.modal-body a {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.modal-text {
    font-size: 20px;
    padding: 15px;
    padding-top: 30px;
}

.tech-used {
    font-style: bold;
}

.modal-img {
    height: 300px;
}